@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-webkit-scrollbar {
		height: 8px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #cccccc;
		border-radius: 6px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		font-family: 'Lato', sans-serif;
		color: var(--dark-clr);
	}

	.wrapper {
		width: 80%;
		margin: auto;
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: hsla(220, 12%, 95%, 1);
}
.sign-up{
	writing-mode: vertical-lr;

	@media (max-width: 640px){
		writing-mode: horizontal-tb;
	}
}

.hero-slider {
	background-image: url('@/assets/images/hero-bg.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-shadow { 
	box-shadow: 0px 1px 7px 0px hsla(0, 0%, 0%, 0.12);
}

.lg-light {
	background: linear-gradient(90.07deg, #2987B9 16.56%, #FFFFFF 99.95%);
}



.range-field{
	-webkit-appearance: none;
	outline: 180px;
	width: 180px;
	height: 10px;
	background: #999999;
	border-radius: 20px;
	overflow: hidden;
}

.range-field::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 20px;	
	height: 20px;
	border-radius: 50%;
	background: white;
	box-shadow: -410px 0 0 400px  #EE3F4C;
	;
	cursor: pointer;
}

